extends layout

block js_doc_ready
    |  console.log('hello!');

block content
    h1= title

    block

        div.results
            svg

        div.btn-row
            button(class='foo', id='StartGame') New Game
            button(class='foo', id='NextTurn') Next Turn

        div.game-info
            label Turn
                span(id='TurnFld')

    | <script type='text/javascript'>
    | $(document).ready(function() {
    |   var gameView = new GameOfLifeView();
    |    gameView.init();
    | });
    | </script>
