extends layout

block content
    h1= title

    block

        div.results
            svg

        div.btn-row
            button(class='foo', id='StartGame') New Game
            button(class='foo', id='NextTurn') Next Turn

        div.game-info
            label Turn
                span(id='TurnFld')