doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/vendor/d3.v3.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
        script(src='/javascripts/gameLife.js')
        script(src='/javascripts/gofView.js')

    body
        block content

