body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
svg {
  border: 5px #323232 solid;
  height: 310px;
  width: 310px;
}
.gof-ok {
  fill: green;
}
.gof-plenty {
  fill: blue;
}
.gof-danger {
  fill: red;
}
.results {
  margin-top: 20px;
}
.btn-row {
  margin-top: 20px;
}
.btn-row button {
  margin-left: 10px;
}
